<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-4 text-center">
                <img src="img/fiona1.jpg" style="width: 80%;">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">WHO I AM</h2>
                <hr class="light">
                <p class="text-faded">ActSci from UWaterloo -> MathFin from Imperial College
                    <br>Risk Management -> JPM Quant Trading -> Buy-side Trading</p>
                <br>
                <h2 class="section-heading">WHAT I CAN OFFER</h2>
                <hr class="light">
                <p class="text-faded">Preparation: Company Research, Personalized Job Searching Plan
                    <br>Application: CV/Resume, Cover Letter
                    <br>Interview: Behaviour, Technical, Superday/Final Round Mock</p>
                <br>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
            <div class="col-lg-1 text-center"></div>
        </div>
    </div>
</section>
