<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="img/fiona1.jpg" style="width: 60%;">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="section-heading">WHO I AM</h2>
                <hr class="light">
                <p class="text-faded">Actuarial Science from University of Waterloo -> Mathmatical Finance from Imperial College
                    <br>Risk Management -> JPM Quant Trading -> Buy-side Trading</p>
                <br>
                <br>
                <h2 class="section-heading">WHAT I CAN OFFER</h2>
                <hr class="light">
                <p class="text-faded">Actuarial Science from University of Waterloo -> Mathmatical Finance from Imperial College
                    <br>Risk Management -> JPM Quant Trading -> Buy-side Trading</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
