<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4">
                <a href="#" class="portfolio-box">
                    <img src="img/fiona1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FIONA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <h2 class="section-heading">WHO I AM</h2>
                <hr class="light">
                <p class="text-faded">Actuarial Science from University of Waterloo -> Mathmatical Finance from Imperial College
                    <br>Risk Management -> JPM Quant Trading -> Buy-side Trading</p>
                <br>
                <br>
                <h2 class="section-heading">WHAT I CAN OFFER</h2>
                <hr class="light">
                <p class="text-faded">Actuarial Science from University of Waterloo -> Mathmatical Finance from Imperial College
                    <br>Risk Management -> JPM Quant Trading -> Buy-side Trading</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</section>
